body{
    margin: 0px;
}

header {
    width: 1202px;
    height: 161px;
    margin: 0px 6px;
    padding: 0px 30px;
}

#naver_title {
    
}

header .logo_area {
   display: block;
}

header .title_logo {
}

header .title_logo a {
    text-decoration: none;
}

header .title_logo a span {
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 1px 2px;
    color: green;
}

header ,.service_area {
    display: flex;
}

header .service_area a {
    text-decoration: none;
}


header .service_area a span {
    color: gray;
    
}