.container{
    padding-top: 100px;
    background: beige;
    height: 100vh;
    display: flex;
    
}

.item{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.item1{
    background: #ef9a9a;
/*    order: 2;  */
flex: 2 2 auto; /* grow, shrink, basis */
align-self: center;
}

.item2{
    background: #ce93d8;
 /*   order: 1;  */
 
 
}

.item3{
    background: #90caf9;
 /*   order: 3;   */
 
}
