

.container{
    background: beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
 /*   flex-flow: column nowrap;    */

    justify-content: space-around;
    align-items: baseline; 
    align-content: center;
}

.item{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.item1{
    background: #ef9a9a;
/*    padding:  20px;   */
}
.item2{
    background: #f48fb1;
}
.item3{
    background: #ce93d8;
}
.item4{
    background: #b39ddb;
}
.item5{
    background: #90caf9;
}
.item6{
    background: #a5d6a7;
}
.item7{
    background: #e6ee9c;
}
.item8{
    background: #fff59d;
}
.item9{
    background: #ffcc80;
}
.item10{
    background: #ffab91;
}