@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 50px 0 50px 0;
    width: 100%;
    height: 100%;
}

._next {
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
}

.container-doc {
    margin: 0 auto;
    padding: 0;
    width: 580px;
    height: 100%;
    table-layout: fixed;
}

.inner_container {
    padding-top: 50px;
    padding-bottom: 50px;
    vertical-align: middle;
    height: 100%;
}


header {
    display: table;
    box-sizing: border-box;
    height: auto;
    padding: 59px 69px 49px 69px;
    margin-bottom: 40px;
}

.doc-header{
    margin-bottom: 40px;
    width: 580px;
    height: 27px;
    padding: 0;
}

.doc-header .tit_kakao {
    margin: 0;

}

.logo_kakao {
    font-size: 19px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 556px;
}

.info_banner {
    padding: 16px 9px 20px;
}

.info_banner strong {
    font-size: 1.5em;
    font-weight: 400;
    color: #252525;
}

.info_banner p {
    font-size: 12px;
    font-size: 0.8em;
    font-weight: 500;
    color: #7c7c7c;
}

.warp_form {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 100%;
    max-width: 480px;
    height: 556px;
    border: 1px;
    padding: 60px 70px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}


.warp_form h1 {
    display: inline-block;
    width: 88px;
    height: 27px;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: bold;
}

.tit_kako {
    text-align: center;
    width: 100%;
    height: 27px;
}

.fld_login {
    margin: 0;
    width: 338px;
    height: 329px;
}

.fld_login .long_text {
    border: none;
    border-bottom: 1px solid #8e8e8e;
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.item_loginState {
    display: inline-block;
    margin-top: 25px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.item_loginState .box {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: top;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.login_banner {
    width: 100%;
    margin-top: 40px;
    
}

.login_banner .btn_login .login_submit {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: #fee500;
    color: #191919;
    border: none;
    padding: 0;
    cursor: pointer;
}

.login_banner .line_or h4 {
    margin: 0;
    padding: 15px 0;
    height: 18px;
    font-size: 12px;
    color: #000000B3;
}

.login_banner .btn_qr .qr_submit {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    color: #191919;
    border: none;
    padding: 0;
    cursor: pointer;
}

.login_banner .btn_qr .qr_submit:hover{
    background-color: #eee7e7;
}

.join_banner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 18px;
}

.join_banner a {
    text-decoration: none;
    font-size: 12px;
    color: #000000B3;
}

footer { 
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 60px;
    border-top: 1px solid #e5e5e5;
}

footer .service_info {
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 11px;
}

footer .link_info {
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: #8e8e8e;
    font-weight: 700;
}

footer .link_info_policy {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

footer .select_box {
    border: none;
    width: 53px;
    height: 20px;
}

select {
    text-align-last: center;
    font-size: 10px;
}

.txt_copyright {
    font-size: 12px;
    font-weight: bold;
    color: #8e8e8e;
}

.link_kakao {
    text-decoration: none;
    color: rgb(59, 58, 58);
    font-weight: bold;
    
}